/* General Reset and Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nerko One', 'Protest Guerrilla', sans-serif;
}

body {
    background-color: #2c404f;
    color: #fff; /* Unified color for the text across sections */
    line-height: 1.6;
    padding: 20px;
}

/* Headings Styling */
h1, h2 {
    text-align: center;
    color: #42a5f5;
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    margin-top: 30px;
}

/* Glassmorphism Style Container */
.glass, .projects-container, .Interests-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 20px;
}

/* Profile Image Styling */
.profile {
    display: block;
    margin: 0 auto;
    width: 150px;
    border-radius: 50%;
}

/* About Section Styling */
.about-container p,
.about-course-container p,
.about-course-container strong {
    font-size: 1.5em;
    color: #fff;
}

/* Contact Section Styling */
.contact-container ul {
    list-style: none;
    padding: 0;
}

.contact-container li {
    margin: 10px 0;
}

.contact-container a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.contact-container a img {
    vertical-align: middle;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}

/* Project List Styling */
.projects-container h2 {
    margin-bottom: 20px;
}

.projects-container ul {
    list-style: none;
    padding: 0;
}

.projects-container ul li {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.projects-container ul li strong {
    font-size: 1.3em;
}

/* Hover Effect for Projects List */
.projects-container ul li:hover {
    background-color: #6b6767;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

/* Interests Section Styling */
.Interests-container h2 {
    margin-bottom: 15px;
}

.Interests-container ul {
    list-style: none;
    padding: 0;
}

.Interests-container li {
    font-size: 1.5em;
}

/* Skills Section (Icon Display) */
.skills {
    text-align: center;
    margin: 20px 0;
}

.skills img {
    margin: 5px;
    width: 48px;
    height: auto;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #42a5f5;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
